$color-primaire : #96B011;
$color-txt : #666;
$color-btn : #b09067;

$font-title : 'Amaranth', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*MOBILE FIRST*/
/********************************************************
                    CSS COMMUM
********************************************************/
/*déclaration de variables CSS*/

/*
ATTENTION : Les variables CSS ne sont pas prises en charge par les navigateurs IE ni Edge versions 14 et inférieures. 
La version 15 de Edge gère partiellement les variables CSS. Depuis la version 16 Edge gère totalement les variables CSS.
Firefox les gère depuis la version 31, Chrome depuis la version 49, Opera depuis la version 36 et Safari depuis la 9.3

A NOTER que cela pose aussi des soucis pour le validateur CSS qui ne reconnait pas encore :root et les variables.
*/
:root {
    --bg-header-footer: #96B011 url(../img/bg.jpg) no-repeat bottom;
    --bg-section: #fff;
}
/*fin de déclaration de variables CSS*/


*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #f2f2f2;
    color: $color-txt ;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

.container{
    margin: 0 auto;
    max-width: 1100px;
}

section{ 
    margin-bottom: 30px;
    background: var(--bg-section);
    padding:30px;
}

img {
    max-width:100%;
}


h1, h2, h3, h4{
    color: $color-primaire;
    font-family: $font-title;
    text-align: center;
}

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
    font-weight: normal;
}

main, footer{
    line-height: 1.8;
}

.flex {
    display:flex;
}


.price{
    font-size: 2.4rem
}

.btn{
    background-color: $color-btn;
    color: #fff;
    display: inline-block;
    margin: 20px 0;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover{
        background-color:  transparentize($color-btn, 0.25); // Fonction pour la transparence 
    }
}

.img-left{
    float:left;
    margin-right: 15px;
}

.img-right{
    float:right;
    margin-left: 15px;
}

/********************************************************
                            HEADER
********************************************************/
header{
    background: var(--bg-header-footer);
    color: #fff;
    margin-bottom: 30px;
    position: relative;

    & > p{
        background-color: rgba(0,0,0,0.1);
        margin-top: 0;
        padding: 10px 0;
        text-align: center;
    }
    .ribbon{
        display: none;

        
        @media screen and (min-width: 768px) {  
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
        }
    }


    div.flex {
        flex-direction: column;
        padding: 15px 0;
        text-align: center;

        @media screen and (min-width: 768px) {    
            flex-direction: row;        
            align-items: center;
            justify-content: space-between;
        }

        a {            
            display: block;
            margin-top: 100px;

            
            @media screen and (min-width: 768px) {    
                margin-top: 0;
                padding-left: 30px;
            }
        }
    }


    //------- PANIER ------------
    p.panier{
        
        margin: 0;
        font-size: 3rem;
        padding: 10px 30px;

        //Ne s'applique QUE pour le MOBILE
        @media screen and (max-width: 767px) { 
            background-color: $color-primaire;
            position: fixed;
            top: 60px;
            z-index: 1000;   
            border-radius: 0 50px 50px 0;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
            padding: 10px 15px;

            
            span {
                display: none;
            }
        }
        span {
            font-size: 2rem;
        }



        .fa-shopping-cart{
            border: 1px solid #fff;
            border-radius: 50%;
            padding: 15px;
        }
    }

    

    //------- NAVIGUATION ------------
    nav{
        flex-direction: column;
        padding-bottom: 20px;
        text-align: center;
    
        @media screen and (min-width: 768px) {    
            flex-direction: row; 
            justify-content: space-between;
        }
        a{
            color: #fff;
            padding:20px 30px;
            text-decoration: none;
            text-transform: uppercase;
    
            &:hover{
                background: rgba(255, 255, 255, 0.2);
            }
            
        }
    }


}


/********************************************************
                        MAIN INDEX
********************************************************/


/************************ INDEX ************************/

.home {
    
    //Ne s'applique QUE pour le MOBILE
    @media screen and (max-width: 767px) { 
        .event{
            display: none;
        }
    }
    
    @media screen and (min-width: 768px) { 
        .event {
            text-align: center;
        
            strong {
                color: $color-primaire;
                font-family: $font-title;
                font-size: 4rem;
                margin: 0 0 20px;
                display: block;
                font-weight:normal;

            }

            .flexslider {
                margin-top:25px;
            }
        }
    }


    //---------Choisissez votre thé--------

    .choice-tea .flex {
        flex-wrap: wrap;
        justify-content: center;
            
        @media screen and (min-width: 1025px) { 
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &:hover figure{
            opacity: 0.5;
        }
        a {
            text-decoration: none;
            flex-basis: 50%;
        }
        figure{
            @extend %figure;

            &:hover{
                opacity: 1;
            }
        }
       
        
    }

 //L'héritage : Bloc de propriété =>  %nomProriété {...}
 %figure {
    margin: 16px 0;
    text-align: center;

    figcaption {

        color: $color-txt;
        font-family: $font-title;
        font-size: 2rem;
        letter-spacing: 1px;
        text-decoration: none;
    
        strong {
            font-weight: normal;
        }
    }
}



    
    //---------Notre sélection --------
    .selection-tea {
        h2{
            font-size: 3.2rem;
            margin-bottom:0;
        }
        .flex {
            flex-direction:column;

            @media screen and (min-width: 1025px) { 
                flex-direction:row;
            }

            article {
                text-align: center;
                padding: 0 20px;
            }
            h3{
                font-size: 2.5rem;
                display: flex;

                &::after, &::before{
                    content:"";
                    display: block;
                    border-top: 1px solid $color-primaire;
                    margin: 23px 10px 0;
                    flex:1;
                }

            }
                
            figure{
                //Permet de rattacher au bloc de propriété "%figure"
                @extend %figure;
                img{
                    width: 100%;
                }

            }
        }
    }
}


/************************ LISTING-PRODUCT ************************/
.listing section {
    h2{
        font-size: 2.5rem;
        display: flex;

        &::after{
            content:"";
            display: block;
            border-top: 1px solid $color-primaire;
            margin: 23px 10px 0;
            flex:1;
        }

    }

    
    .flex {
        flex-direction: column;

        @media screen and (min-width: 1025px) { 
            flex-direction:row;
        }
        article {
            text-align: center;
            padding: 0 20px;

            h3 {
                color: $color-txt;
            }
            img{
                width: auto;
            }
        }
        
            
    }

}



/************************ PRODUCT ************************/

.product article {
     text-align:center;

    h2 {
       margin: 0; 
    }

    h2, h3 {
        color:$color-txt;
        margin-top: 0;
    }
    
    a{
        color: $color-primaire;
        display: block;
        text-decoration: none;
    }
    
    img{
        width: 100%
    }

    & > .flex {
        
        @media screen and (max-width: 767px) { 
            flex-direction: column;
        }
        justify-content: space-between;

        .fa-star{
            color: #ffdc0f;
        }
        .fa-star:last-of-type{
            color: $color-txt;
        }

        @media screen and (min-width: 768px) { 
            & > div:last-of-type{
                margin-top: 20px;
            }
        }
    }

    @media screen and (min-width: 768px) { 
        & > .flex:nth-of-type(2){
            margin: 30px 0;
        }
    }

    img{
        flex-basis: 50%;
    }

    form{
        flex-basis: 45%;
        margin-top: 30px;

        select{
            border: 1px solid #ccc;
            color: $color-txt;
            padding: 10px;
            width: 100%
        }

      
        p{
            border: 0;
            color: $color-txt;
            font-family: $font-title;
            font-size: 3.5rem;
            margin: 0;
            text-align: center;
            width: 100%
        }

        button{
            
            border: 0;
            display: inline-block;
            width: 100%;

        
            @media screen and (min-width: 768px) { 
                margin-top: 40px;
            }
        }
        .fa-heart{
            color: #e7877a;
        }
        
        @media screen and (min-width: 768px) { 
            p, a {
                text-align: right;
            }
        }
    }

    & > p{
        text-align: left;
    }

    & > p:nth-last-of-type(2), & > p:last-of-type {
        font-weight: bold;
    }

}



/************************ ABOUT ************************/

.about section {
    h2{
        color: $color-txt;
    }

    h2, h3 {
        text-align: left;
    }
    .img-left, .img-right{
        margin-bottom: 25px;
        width: 100%;
        
        @media screen and (min-width: 768px) { 
            margin-bottom: 0;
            width: 50%;

            & + p {
                margin-top : 0;
            }
        }
    }

    aside{
        background-color: transparentize($color-primaire, 0.8); //// Fonction pour la transparence  => rgba(150, 176, 17, 0.2);
        margin-top: 30px;
        padding: 30px;
        text-align: center;

        @media screen and (min-width: 1024px) {         
            display: flex;
            justify-content: space-between;

            article{
                padding: 0 15px;
            }
        }

        h3{
            color: $color-txt;
            text-align: center;
        }

        img{
            margin-top: 30px;
            width: 80px;
        }

     

        
    }
}



/********************************************************
                        FOOTER
********************************************************/
footer{
    background: var(--bg-header-footer);

    nav {
        div{
            display: flex;
        }
        a{
            color: #fff;
            opacity: 0.5;
            text-decoration: none;

            
            &:hover{
                opacity: 1;
            }

        }

        //------------ 1ère nav --------------
        
        &:first-of-type{
            background-color: darken($color-primaire,3.7%); //Fonction SCSS pour foncer une couleur
            padding:10px 0; 
            
            div{
                flex-wrap: wrap;
                justify-content: center;

                @media screen and (min-width: 768px) {                
                    flex-wrap: nowrap;
                    justify-content: space-between;
                }

            }
            a {
                flex-basis: 50%;
                text-align: center;
                text-transform: uppercase;
                margin:30px 0;


                .fas {
                    display: block;
                    font-size: 3.2rem;
                    margin: 0 0 15px;
                    
                }
            }
            
        }

        //------------ 2ème nav --------------

        &:last-of-type {
            div{
                margin: 30px auto;
                flex-direction: column;

                
                @media screen and (min-width: 768px) {    
                    flex-direction: row;
                    justify-content: space-around;  
                }
            }


            ul {
                margin: 0;
                padding-left: 0;
                list-style: none;
                text-align: center;

                li{
                    margin: 0 0 15px;
                    strong {
                        color: #fff;
                        font-weight: normal;
                        margin: 35px 0;
                        text-transform: uppercase;
                        display: block;
                        font-size: 2rem;
                    }

                }
            }
        } 

        
        

        & + div{
            background-color: rgba(0,0,0,0.1);
            color: #fff;
            padding: 40px 30px 30px;
            text-align: center;
            
            img{
                width: 60px;
            }

            a{
                color: #fff;
            }
        }

    }


}

